<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeEOWq3FTw-0V0LTfDP0nbGPO0hEG-fJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>824893113729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soldout.sa</string>
	<key>PROJECT_ID</key>
	<string>soldout-b8dd0</string>
	<key>STORAGE_BUCKET</key>
	<string>soldout-b8dd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824893113729:ios:c2f5d6bf521e63ec091480</string>
</dict>
</plist>