<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575890868187-18rq2ns41sh350qpstodahlvce1kobcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575890868187-18rq2ns41sh350qpstodahlvce1kobcn</string>
	<key>API_KEY</key>
	<string>AIzaSyALNXHPs-UvXhKJNVnuRrIj_Azr6h3wj0M</string>
	<key>GCM_SENDER_ID</key>
	<string>575890868187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soldout</string>
	<key>PROJECT_ID</key>
	<string>soldout-de9d4</string>
	<key>STORAGE_BUCKET</key>
	<string>soldout-de9d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575890868187:ios:acafcc5d2c25498585c9fe</string>
</dict>
</plist>